# Playground for Recommeder System slides

- Stephen W. Thomas
- Used for MMA 869, MMAI 869, and GMMA 869

In [1]:
import datetime
print(datetime.datetime.now())

2019-04-23 08:57:36.395382

In [2]:
import pandas as pd
pd.show_versions(as_json=False)

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.4.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 142 Stepping 10, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None
LOCALE: None.None

pandas: 0.23.4
pytest: 3.3.2
pip: 19.0.3
setuptools: 38.4.0
Cython: 0.27.3
numpy: 1.15.4
scipy: 1.0.0
pyarrow: None
xarray: None
IPython: 6.2.1
sphinx: 1.6.6
patsy: 0.5.0
dateutil: 2.6.1
pytz: 2017.3
blosc: None
bottleneck: 1.2.1
tables: 3.4.2
numexpr: 2.6.6
feather: None
matplotlib: 3.0.0
openpyxl: 2.4.10
xlrd: 1.1.0
xlwt: 1.3.0
xlsxwriter: 1.0.2
lxml: 4.1.1
bs4: 4.6.0
html5lib: 1.0.1
sqlalchemy: 1.2.1
pymysql: None
psycopg2: None
jinja2: 2.10
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None

In [3]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns 

from sklearn.metrics import silhouette_score, silhouette_samples
import sklearn.metrics
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans, DBSCAN, AgglomerativeClustering
from sklearn.mixture import GaussianMixture
from sklearn.metrics import accuracy_score, cohen_kappa_score, f1_score, log_loss
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification

import itertools

import scipy

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Manual Examples

In [4]:
u = pd.DataFrame(data={'Gladiator': [4, 5, 4, 0, 0, 0], 
                       'Devil Wears Prada': [3, 0, 0, 3, 4, 0],
                       'Matrix': [0, 4, 5, 0, 0, 2],
                       'Lord of the Rings': [4, 0, 3, 0, 0, 4],
                       'Saving Private Ryan': [5, 4, 4, 0, 0, 0],
                       'Mean Girls': [0, 0, 0, 5, 4, 5],})
u

,Gladiator,Devil Wears Prada,Matrix,Lord of the Rings,Saving Private Ryan,Mean Girls
0,4,3,0,4,5,0
1,5,0,4,0,4,0
2,4,0,5,3,4,0
3,0,3,0,0,0,5
4,0,4,0,0,0,4
5,0,0,2,4,0,5

In [5]:
from sklearn.metrics.pairwise import *

# Computes similarity between all rows/observations in a dataframe
np.around(cosine_similarity(u), 2)

array([[1.  , 0.65, 0.73, 0.19, 0.26, 0.29],
       [0.65, 1.  , 0.91, 0.  , 0.  , 0.16],
       [0.73, 0.91, 1.  , 0.  , 0.  , 0.4 ],
       [0.19, 0.  , 0.  , 1.  , 0.97, 0.64],
       [0.26, 0.  , 0.  , 0.97, 1.  , 0.53],
       [0.29, 0.16, 0.4 , 0.64, 0.53, 1.  ]])

In [6]:
# Computes similarity between all rows/observations in a dataframe
np.around(cosine_distances(u), 2)

array([[0.  , 0.35, 0.27, 0.81, 0.74, 0.71],
       [0.35, 0.  , 0.09, 1.  , 1.  , 0.84],
       [0.27, 0.09, 0.  , 1.  , 1.  , 0.6 ],
       [0.81, 1.  , 1.  , 0.  , 0.03, 0.36],
       [0.74, 1.  , 1.  , 0.03, 0.  , 0.47],
       [0.71, 0.84, 0.6 , 0.36, 0.47, 0.  ]])

In [7]:
np.around(cosine_similarity(u.transpose()), 2)

array([[1.  , 0.27, 0.79, 0.58, 0.98, 0.  ],
       [0.27, 1.  , 0.  , 0.32, 0.34, 0.65],
       [0.79, 0.  , 1.  , 0.54, 0.71, 0.18],
       [0.58, 0.32, 0.54, 1.  , 0.66, 0.38],
       [0.98, 0.34, 0.71, 0.66, 1.  , 0.  ],
       [0.  , 0.65, 0.18, 0.38, 0.  , 1.  ]])

In [8]:
np.around(euclidean_distances(u), 2)

array([[ 0.  ,  6.56,  6.  ,  9.06,  8.6 ,  8.89],
       [ 6.56,  0.  ,  3.32,  9.54,  9.43,  9.27],
       [ 6.  ,  3.32,  0.  , 10.  ,  9.9 ,  8.19],
       [ 9.06,  9.54, 10.  ,  0.  ,  1.41,  5.39],
       [ 8.6 ,  9.43,  9.9 ,  1.41,  0.  ,  6.08],
       [ 8.89,  9.27,  8.19,  5.39,  6.08,  0.  ]])

# Jaccard

In [9]:
def jaccard_similarity(l1, l2):
    intersection = len(list(set(l1).intersection(l2)))
    union = (len(l1) + len(l2)) - intersection
    return float(intersection / union)

list1 = ['dog', 'cat', 'fish']
list2 = ['dog', 'cat', 'horse', 'pig']
jaccard_similarity(list1, list2)

0.4

# Surprise Package

In [10]:
from surprise import SVD
from surprise import Dataset
from surprise import get_dataset_dir


# Load the movielens-100k dataset (download it if needed).
data = Dataset.load_builtin('ml-100k')

In [11]:
import io  # needed because of weird encoding of u.item file

def read_item_names():
    """Read the u.item file from MovieLens 100-k dataset and return two
    mappings to convert raw ids into movie names and movie names into raw ids.
    """

    file_name = get_dataset_dir() + '/ml-100k/ml-100k/u.item'
    rid_to_name = {}
    name_to_rid = {}
    with io.open(file_name, 'r', encoding='ISO-8859-1') as f:
        for line in f:
            line = line.split('|')
            rid_to_name[line[0]] = line[1]
            name_to_rid[line[1]] = line[0]

    return rid_to_name, name_to_rid

# Read the mappings raw id <-> movie name
rid_to_name, name_to_rid = read_item_names()

# Look at 10 random elements in the dict
list(itertools.islice(name_to_rid.items(), 20))

[('Toy Story (1995)', '1'),
 ('GoldenEye (1995)', '2'),
 ('Four Rooms (1995)', '3'),
 ('Get Shorty (1995)', '4'),
 ('Copycat (1995)', '5'),
 ('Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)', '6'),
 ('Twelve Monkeys (1995)', '7'),
 ('Babe (1995)', '8'),
 ('Dead Man Walking (1995)', '9'),
 ('Richard III (1995)', '10'),
 ('Seven (Se7en) (1995)', '11'),
 ('Usual Suspects, The (1995)', '12'),
 ('Mighty Aphrodite (1995)', '13'),
 ('Postino, Il (1994)', '14'),
 ("Mr. Holland's Opus (1995)", '15'),
 ('French Twist (Gazon maudit) (1995)', '16'),
 ('From Dusk Till Dawn (1996)', '17'),
 ('White Balloon, The (1995)', '18'),
 ("Antonia's Line (1995)", '19'),
 ('Angels and Insects (1995)', '20')]

In [12]:
type(data)

surprise.dataset.DatasetAutoFolds

In [13]:
type(data.raw_ratings)

# Format is:
# user item rating timestamp
data.raw_ratings[0]
data.raw_ratings[1]

list

('196', '242', 3.0, '881250949')

('186', '302', 3.0, '891717742')

In [14]:
df = pd.DataFrame(data.raw_ratings, columns=['user', 'item', 'rating', 'timestamp'])

In [15]:
df.head()

  user item  rating  timestamp
0  196  242     3.0  881250949
1  186  302     3.0  891717742
2   22  377     1.0  878887116
3  244   51     2.0  880606923
4  166  346     1.0  886397596

In [16]:
item_names = pd.DataFrame.from_dict(rid_to_name, orient="index", columns=['item_name'])
item_names['item'] = item_names.index
item_names.head()
df = pd.merge(df, item_names)
df.head()

           item_name item
1   Toy Story (1995)    1
2   GoldenEye (1995)    2
3  Four Rooms (1995)    3
4  Get Shorty (1995)    4
5     Copycat (1995)    5

  user item  rating  timestamp     item_name
0  196  242     3.0  881250949  Kolya (1996)
1   63  242     3.0  875747190  Kolya (1996)
2  226  242     5.0  883888671  Kolya (1996)
3  154  242     3.0  879138235  Kolya (1996)
4  306  242     5.0  876503793  Kolya (1996)

In [17]:
df[df['user'] == '22']

,user,item,rating,timestamp,item_name
414,22,377,1.0,878887116,Heavyweights (1994)
1044,22,265,3.0,878888066,"Hunt for Red October, The (1990)"
1180,22,451,4.0,878887062,Grease (1978)
1901,22,222,4.0,878887925,Star Trek: First Contact (1996)
2288,22,29,1.0,878888228,Batman Forever (1995)
2978,22,144,5.0,878887680,Die Hard (1988)
3141,22,118,4.0,878887983,Twister (1996)
3940,22,546,3.0,878888107,Broken Arrow (1996)
5653,22,194,5.0,878886607,"Sting, The (1973)"
6655,22,201,4.0,878886449,Evil Dead II (1987)
6729,22,241,3.0,878888025,"Last of the Mohicans, The (1992)"
6987,22,4,5.0,878886571,Get Shorty (1995)
8319,22,181,5.0,878887765,Return of the Jedi (1983)
9006,22,384,3.0,878887413,Naked Gun 33 1/3: The Final Insult (1994)
9602,22,515,5.0,878887869,"Boot, Das (1981)"
10532,22,526,4.0,878888026,Ben-Hur (1959)
12028,22,229,2.0,878887925,Star Trek III: The Search for Spock (1984)
12948,22,403,5.0,878887810,Batman (1989)
14043,22,154,4.0,878886423,Monty Python's Life of Brian (1979)
14902,22,209,4.0,878886518,This Is Spinal Tap (1984)
15126,22,294,1.0,878886262,Liar Liar (1997)
15630,22,208,5.0,878886607,Young Frankenstein (1974)
17099,22,174,5.0,878887765,Raiders of the Lost Ark (1981)
17155,22,96,5.0,878887680,Terminator 2: Judgment Day (1991)
17958,22,648,4.0,878886647,"Quiet Man, The (1952)"
18053,22,21,4.0,878886750,Muppet Treasure Island (1996)
18634,22,195,4.0,878887810,"Terminator, The (1984)"
19287,22,385,4.0,878887869,True Lies (1994)
21831,22,405,1.0,878888067,Mission: Impossible (1996)
22386,22,117,4.0,878887869,"Rock, The (1996)"
...,...,...,...,...,...
72403,22,85,5.0,878886989,"Ref, The (1994)"
73278,22,386,3.0,878887347,Addams Family Values (1993)
73776,22,24,5.0,878888026,Rumble in the Bronx (1995)
74134,22,510,5.0,878887765,"Magnificent Seven, The (1954)"
74360,22,435,5.0,878886682,Butch Cassidy and the Sundance Kid (1969)
74823,22,651,4.0,878887810,Glory (1989)
76773,22,411,1.0,878887277,"Nutty Professor, The (1996)"
80109,22,290,5.0,878886607,Fierce Creatures (1997)
81387,22,687,1.0,878887476,McHale's Navy (1997)
82979,22,226,4.0,878888145,Die Hard 2 (1990)
83457,22,840,4.0,878888184,Last Man Standing (1996)
84693,22,684,3.0,878887983,In the Line of Fire (1993)
85117,22,997,1.0,878887377,Stuart Saves His Family (1995)
85380,22,167,3.0,878887023,Private Benjamin (1980)
86198,22,1001,1.0,878886647,"Stupids, The (1996)"
86471,22,932,1.0,878887277,First Kid (1996)
89072,22,456,1.0,878887413,Beverly Hills Ninja (1997)
89119,22,791,1.0,878887227,"Baby-Sitters Club, The (1995)"
89317,22,988,1.0,878887116,"Beautician and the Beast, The (1997)"
89412,22,636,3.0,878888106,Escape from New York (1981)
89868,22,1000,3.0,878886333,Lightning Jack (1994)
90026,22,502,4.0,878886647,Bananas (1971)
90554,22,996,1.0,878887158,"Big Green, The (1995)"
91811,22,999,4.0,878886902,Clean Slate (1994)
92368,22,878,1.0,878887598,That Darn Cat! (1997)
93307,22,358,5.0,878887443,Spawn (1997)
94847,22,871,3.0,878886750,Vegas Vacation (1997)
96176,22,1002,1.0,878887186,"Pest, The (1997)"
97911,22,862,1.0,878886845,Jingle All the Way (1996)
98027,22,998,1.0,878886571,Cabin Boy (1994)

In [18]:
import pandas_profiling

pandas_profiling.ProfileReport(df, check_correlation=False)

C:\Users\st50\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas_profiling\plot.py:15: UserWarning: matplotlib.pyplot as already been imported, this call will have no effect.
  matplotlib.use(BACKEND)

# Build the Recommender System

In [21]:
from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import train_test_split
from surprise import KNNBaseline, KNNBasic, KNNWithMeans, KNNWithZScore, SVD

trainset, testset = train_test_split(data, test_size=.25)

In [22]:
sim_options = {'name': 'MSD',
               'user_based': True  # compute  similarities between items
               }

algo = KNNBasic(k=10, min_k=4, sim_options=sim_options)
%time algo.fit(trainset)
%time predictions = algo.test(testset)

Computing the msd similarity matrix...
Done computing similarity matrix.
Wall time: 481 ms

Wall time: 2.38 s

In [23]:
accuracy.rmse(predictions)

RMSE: 0.9938

0.993794988250414

In [24]:
predictions[0:10]

[Prediction(uid='435', iid='825', r_ui=3.0, est=2.9004180006145597, details={'actual_k': 10, 'was_impossible': False}),
 Prediction(uid='450', iid='702', r_ui=4.0, est=2.9904852343595913, details={'actual_k': 10, 'was_impossible': False}),
 Prediction(uid='524', iid='210', r_ui=3.0, est=3.8999271811545055, details={'actual_k': 10, 'was_impossible': False}),
 Prediction(uid='893', iid='410', r_ui=4.0, est=3.586319472953688, details={'actual_k': 10, 'was_impossible': False}),
 Prediction(uid='697', iid='1059', r_ui=2.0, est=2.8860960337137107, details={'actual_k': 10, 'was_impossible': False}),
 Prediction(uid='655', iid='962', r_ui=5.0, est=3.0991588559692618, details={'actual_k': 10, 'was_impossible': False}),
 Prediction(uid='707', iid='632', r_ui=4.0, est=3.84383353055478, details={'actual_k': 10, 'was_impossible': False}),
 Prediction(uid='630', iid='983', r_ui=3.0, est=2.228903100536477, details={'actual_k': 10, 'was_impossible': False}),
 Prediction(uid='495', iid='182', r_ui=5.0, est=4.276421845308317, details={'actual_k': 10, 'was_impossible': False}),
 Prediction(uid='59', iid='83', r_ui=4.0, est=4.302218194564496, details={'actual_k': 10, 'was_impossible': False})]

# Predict for a specific user/item pair

In [25]:
uid = str(196)  # raw user id (as in the ratings file). They are **strings**!
iid = str(302)  # raw item id (as in the ratings file). They are **strings**!

# get a prediction for specific users and items.
pred = algo.predict(uid, iid, verbose=True)
pred

user: 196        item: 302        r_ui = None   est = 4.10   {'actual_k': 10, 'was_impossible': False}

Prediction(uid='196', iid='302', r_ui=None, est=4.1, details={'actual_k': 10, 'was_impossible': False})

# Get Top-Predicted Items for a Specific User

In [26]:
from collections import defaultdict

def get_top_n(algo, predictions, n=10):
    '''Return the top-N recommendation for each user from a set of predictions.

    Args:
        predictions(list of Prediction objects): The list of predictions, as
            returned by the test method of an algorithm.
        n(int): The number of recommendation to output for each user. Default
            is 10.

    Returns:
    A dict where keys are user (raw) ids and values are lists of tuples:
        [(raw item id, rating estimation), ...] of size n.
    '''

    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        #rid = algo.trainset.to_raw_iid(iid)
        item_name = rid_to_name[iid]
        #print('uid={}, iid={}, item_name={}, est={}'.format(uid, iid, item_name, est))
        top_n[uid].append((iid, item_name, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[2], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

def get_user_neighbors(uid, k=10):
    # Retrieve inner id of the movie
    #raw_id = name_to_rid[item_name]
    #inner_id = algo.trainset.to_inner_iid(raw_id)

    # Retrieve inner ids of the nearest neighbors of the movie.
    neighbors = algo.get_neighbors(uid, k=10)

    # Convert inner ids of the neighbors into names.
    #neighbors = (algo.trainset.to_raw_iid(inner_id) for inner_id in neighbors)
    #neighbors = (rid_to_name[rid] for rid in neighbors)
    return neighbors

def user_info(uid, df, top_n, predictions):
    print('Everything we know about User {}'.format(uid))
    
    df_user = df[df['user'] == uid]
    print('Rating stats:')
    print(df_user['rating'].value_counts(sort=False).sort_index())
    
    print('\nTop 10 movies:')
    print(df_user.sort_values(by=['rating'], ascending=False).head(5))
    
    print('\nBottom 10 movies:')
    print(df_user.sort_values(by=['rating'], ascending=True).head(5))
    
    print('\nTop 10 predictions:')
    for iid, item_name, rating in top_n[uid]:
        print("{}, {}, {}".format(iid, item_name, rating))

In [27]:
top_n = get_top_n(algo, predictions, n=10)

In [28]:
user_info(str(653), df, top_n, predictions)

Everything we know about User 653
Rating stats:
1.0    50
2.0    82
3.0    77
4.0    53
5.0    21
Name: rating, dtype: int64

Top 10 movies:
      user item  rating  timestamp                 item_name
50926  653   50     5.0  878854100          Star Wars (1977)
46094  653  188     5.0  878854145  Full Metal Jacket (1987)
71080  653  180     5.0  878854593     Apocalypse Now (1979)
29817  653  127     5.0  878853780     Godfather, The (1972)
70088  653  239     5.0  878854475           Sneakers (1992)

Bottom 10 movies:
      user  item  rating  timestamp  \
78597  653   571     1.0  880153406
92263  653   638     1.0  878866636
47883  653   407     1.0  878867398
90863  653  1183     1.0  880153329
90500  653   136     1.0  880149965

                                               item_name
78597                            Another Stakeout (1993)
92263  Return of Martin Guerre, The (Retour de Martin...
47883                                    Spy Hard (1996)
90863                             Cowboy Way, The (1994)
90500                Mr. Smith Goes to Washington (1939)

Top 10 predictions:
272, Good Will Hunting (1997), 4.634296250768284
100, Fargo (1996), 4.626349892008639
313, Titanic (1997), 4.6
174, Raiders of the Lost Ark (1981), 4.407680653896447
22, Braveheart (1995), 4.394462716163468
258, Contact (1997), 4.336087791783994
1, Toy Story (1995), 4.2784216652186045
527, Gandhi (1982), 4.205239799787694
654, Chinatown (1974), 4.116043571670871
50, Star Wars (1977), 4.080932265918985

In [29]:
user_info(str(2), df, top_n, predictions)

Everything we know about User 2
Rating stats:
1.0     4
2.0     1
3.0    17
4.0    27
5.0    13
Name: rating, dtype: int64

Top 10 movies:
      user item  rating  timestamp                      item_name
31       2  242     5.0  888552084                   Kolya (1996)
84916    2  311     5.0  888552084  Wings of the Dove, The (1997)
66348    2  285     5.0  888552084          Secrets & Lies (1996)
74975    2  316     5.0  888979693      As Good As It Gets (1997)
72933    2  283     5.0  888552084                    Emma (1996)

Bottom 10 movies:
      user item  rating  timestamp  \
89687    2  314     1.0  888980085
78824    2  309     1.0  888980029
15258    2  294     1.0  888551648
47094    2  315     1.0  888550774
29561    2   10     2.0  888551853

                                         item_name
89687  3 Ninjas: High Noon At Mega Mountain (1998)
78824                              Deceiver (1997)
15258                             Liar Liar (1997)
47094                             Apt Pupil (1998)
29561                           Richard III (1995)

Top 10 predictions:
14, Postino, Il (1994), 4.5076218814374
251, Shall We Dance? (1996), 4.381378684888701
305, Ice Storm, The (1997), 4.37334995526861
316, As Good As It Gets (1997), 4.295558558302708
275, Sense and Sensibility (1995), 4.268727496267674
19, Antonia's Line (1995), 3.968512763140559
258, Contact (1997), 3.9214692843571877
50, Star Wars (1977), 3.894538606403013
303, Ulee's Gold (1997), 3.7496943062803214
300, Air Force One (1997), 3.6285457001350743

In [30]:
user_info(str(8), df, top_n, predictions)

Everything we know about User 8
Rating stats:
1.0     5
2.0     4
3.0    10
4.0    19
5.0    21
Name: rating, dtype: int64

Top 10 movies:
      user item  rating  timestamp                            item_name
2138     8  222     5.0  879362356      Star Trek: First Contact (1996)
45967    8  188     5.0  879362356             Full Metal Jacket (1987)
28892    8  228     5.0  879362286  Star Trek: The Wrath of Khan (1982)
29676    8  127     5.0  879362123                Godfather, The (1972)
33226    8   56     5.0  879362183                  Pulp Fiction (1994)

Bottom 10 movies:
      user item  rating  timestamp                        item_name
29509    8  688     1.0  879361732        Leave It to Beaver (1997)
48523    8  259     1.0  879361604      George of the Jungle (1997)
81391    8  687     1.0  879361825             McHale's Navy (1997)
84270    8  457     1.0  879361825  Free Willy 3: The Rescue (1997)
19095    8  385     1.0  879362124                 True Lies (1994)

Top 10 predictions:
172, Empire Strikes Back, The (1980), 4.900136177939173
183, Alien (1979), 4.491113958115488
510, Magnificent Seven, The (1954), 4.4828711231304865
228, Star Trek: The Wrath of Khan (1982), 4.472201624036479
195, Terminator, The (1984), 4.281822453242302
176, Aliens (1986), 4.132304299889746
403, Batman (1989), 3.932654623550376
241, Last of the Mohicans, The (1992), 3.888188484184844
127, Godfather, The (1972), 3.8
190, Henry V (1989), 3.792962437340387

In [31]:
# Print the recommended items for all users
#for uid, user_ratings in top_n.items():
    #print(uid, [iid for (iid, _) in user_ratings])

# Get Nearest Neighbors of an Item

In [32]:
def get_item_neighbors(item_name, k=10):
    # Retrieve inner id of the movie
    raw_id = name_to_rid[item_name]
    inner_id = algo.trainset.to_inner_iid(raw_id)

    # Retrieve inner ids of the nearest neighbors of the movie.
    neighbors = algo.get_neighbors(inner_id, k=10)

    # Convert inner ids of the neighbors into names.
    neighbors = (algo.trainset.to_raw_iid(inner_id) for inner_id in neighbors)
    neighbors = (rid_to_name[rid] for rid in neighbors)
    return neighbors

item_name = 'Toy Story (1995)'
print('The nearest neighbors of {} are:'.format(item_name))
for movie in get_item_neighbors(item_name):
    print(movie)
    
    
item_name = 'Star Wars (1977)'
print('\nThe nearest neighbors of {} are:'.format(item_name))
for movie in get_item_neighbors(item_name):
    print(movie)

The nearest neighbors of Toy Story (1995) are:
Jerry Maguire (1996)
Executive Decision (1996)
McHale's Navy (1997)
Batman (1989)
Event Horizon (1997)
In the Line of Fire (1993)
Othello (1995)
Mr. Magoo (1997)
As Good As It Gets (1997)
Star Trek III: The Search for Spock (1984)

The nearest neighbors of Star Wars (1977) are:
It's My Party (1995)
Better Off Dead... (1985)
Grease (1978)
Get Shorty (1995)
Sleeper (1973)
Bottle Rocket (1996)
Wyatt Earp (1994)
Man Without a Face, The (1993)
Rear Window (1954)
Citizen Kane (1941)

# Cross Validation

In [34]:
from surprise.model_selection import cross_validate 
algo = SVD()

# Run 5-fold cross-validation and print results.
%time cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9351  0.9396  0.9335  0.9345  0.9345  0.9354  0.0021
MAE (testset)     0.7386  0.7395  0.7349  0.7338  0.7380  0.7369  0.0022
Fit time          4.23    4.06    4.73    4.49    4.49    4.40    0.23
Test time         0.13    0.11    0.15    0.25    0.11    0.15    0.05
Wall time: 23.5 s

{'fit_time': (4.227937698364258,
  4.06334924697876,
  4.728314638137817,
  4.490551471710205,
  4.488699913024902),
 'test_mae': array([0.7385561 , 0.73949902, 0.73487977, 0.73375237, 0.73801203]),
 'test_rmse': array([0.93511171, 0.93958069, 0.93353752, 0.93446208, 0.93448386]),
 'test_time': (0.13312673568725586,
  0.10858607292175293,
  0.15462064743041992,
  0.2460339069366455,
  0.10852813720703125)}

In [35]:
%time cross_validate(KNNBasic(), data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9740  0.9870  0.9773  0.9817  0.9735  0.9787  0.0051
MAE (testset)     0.7678  0.7782  0.7736  0.7769  0.7678  0.7728  0.0044
Fit time          0.45    0.65    0.48    0.47    0.67    0.55    0.10
Test time         2.97    3.28    2.61    3.21    2.78    2.97    0.25
Wall time: 18.5 s

{'fit_time': (0.4505171775817871,
  0.6505205631256104,
  0.4805014133453369,
  0.47305846214294434,
  0.6720094680786133),
 'test_mae': array([0.76776806, 0.77819349, 0.77357252, 0.77687576, 0.76777097]),
 'test_rmse': array([0.97395341, 0.98695567, 0.97730819, 0.98166202, 0.97346878]),
 'test_time': (2.9716904163360596,
  3.2802021503448486,
  2.614149332046509,
  3.211576223373413,
  2.775676965713501)}

# Grid Search

## SVD Algo

In [36]:
from surprise.model_selection import GridSearchCV

param_grid = {'n_epochs': [5, 10], 'lr_all': [0.002, 0.005],
              'reg_all': [0.4, 0.6]}
gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=3)

%time gs.fit(data)

# best RMSE score
print(gs.best_score['rmse'])

# combination of parameters that gave the best RMSE score
print(gs.best_params['rmse'])

Wall time: 36.6 s
0.9638149011056103
{'n_epochs': 10, 'lr_all': 0.005, 'reg_all': 0.4}

# KNN Algo

In [37]:
param_grid_knn = {'k': [2, 10, 20],
              'sim_options': {'name': ['msd', 'cosine'],
                              'min_support': [1, 5, 20],
                              'user_based': [False, True],
                              'verbose': [False]}
              }

gs_knn = GridSearchCV(KNNBasic, param_grid_knn, measures=['rmse', 'mae'], cv=3)
%time gs_knn.fit(data)
print(gs_knn.best_score['rmse'])
print(gs_knn.best_params['rmse'])

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Wall time: 8min 41s
0.9837542648908227
{'k': 20, 'sim_options': {'name': 'msd', 'min_support': 5, 'user_based': True, 'verbose': False}}

In [39]:
gs_knn.cv_results

{'mean_fit_time': array([0.50478681, 0.31580297, 0.5062228 , 0.42185473, 0.49398247,
        0.33735625, 1.78118761, 1.61826611, 1.46062605, 1.37876765,
        1.22636962, 0.92146516, 0.56697464, 0.36447732, 0.50001518,
        0.3091356 , 0.49115515, 0.38829104, 1.91266179, 1.26995945,
        1.57101623, 1.4977626 , 1.48878749, 1.29297384, 0.71212379,
        0.48965534, 0.73597034, 0.48193439, 0.65429449, 0.43269499,
        2.19901768, 1.39046375, 1.55867418, 1.30596217, 1.424474  ,
        1.05151637]),
 'mean_test_mae': array([0.95427697, 0.89035917, 0.87975372, 0.8667584 , 0.87111232,
        0.85975428, 1.06031078, 0.94599882, 0.94120944, 0.91502693,
        0.91495209, 0.90185347, 0.81035262, 0.78900667, 0.7876052 ,
        0.78156498, 0.82150915, 0.80490103, 0.88312597, 0.82912068,
        0.83491513, 0.81889541, 0.85518452, 0.83885626, 0.78728922,
        0.7787851 , 0.78146158, 0.77536552, 0.82395513, 0.80548456,
        0.84338058, 0.81286148, 0.82334875, 0.80738881, 0.85148223,
        0.83293722]),
 'mean_test_rmse': array([1.236523  , 1.15278507, 1.14977412, 1.12447589, 1.14038257,
        1.10678902, 1.35636153, 1.21796847, 1.22210088, 1.18197282,
        1.19339755, 1.16046029, 1.02396493, 1.00079317, 1.0039267 ,
        0.993072  , 1.05539687, 1.02012574, 1.11095005, 1.04872056,
        1.06295058, 1.03933377, 1.09747173, 1.06184759, 0.99426047,
        0.98695969, 0.99566302, 0.98375426, 1.05679534, 1.01940266,
        1.06089783, 1.02841922, 1.04887291, 1.02376678, 1.09074345,
        1.05261202]),
 'mean_test_time': array([2.71595899, 2.29217529, 2.96280185, 2.55087622, 2.85971936,
        2.74034659, 2.9540151 , 3.09378409, 3.05697711, 3.10878682,
        2.7277964 , 2.23886259, 3.67869488, 3.05455597, 3.04205791,
        2.67606743, 3.59026361, 3.12688112, 3.85182103, 3.07505226,
        4.02352484, 4.15330275, 4.60402354, 3.83158382, 7.04465079,
        5.35989181, 5.91410557, 5.24790486, 5.43266948, 4.4109234 ,
        4.84169706, 4.01484974, 4.73341274, 4.34183097, 4.89032904,
        4.02800035]),
 'param_k': [2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  10,
  10,
  10,
  10,
  10,
  10,
  10,
  10,
  10,
  10,
  10,
  10,
  20,
  20,
  20,
  20,
  20,
  20,
  20,
  20,
  20,
  20,
  20,
  20],
 'param_sim_options': [{'min_support': 1,
   'name': 'msd',
   'user_based': False,
   'verbose': False},
  {'min_support': 1, 'name': 'msd', 'user_based': True, 'verbose': False},
  {'min_support': 5, 'name': 'msd', 'user_based': False, 'verbose': False},
  {'min_support': 5, 'name': 'msd', 'user_based': True, 'verbose': False},
  {'min_support': 20, 'name': 'msd', 'user_based': False, 'verbose': False},
  {'min_support': 20, 'name': 'msd', 'user_based': True, 'verbose': False},
  {'min_support': 1, 'name': 'cosine', 'user_based': False, 'verbose': False},
  {'min_support': 1, 'name': 'cosine', 'user_based': True, 'verbose': False},
  {'min_support': 5, 'name': 'cosine', 'user_based': False, 'verbose': False},
  {'min_support': 5, 'name': 'cosine', 'user_based': True, 'verbose': False},
  {'min_support': 20, 'name': 'cosine', 'user_based': False, 'verbose': False},
  {'min_support': 20, 'name': 'cosine', 'user_based': True, 'verbose': False},
  {'min_support': 1, 'name': 'msd', 'user_based': False, 'verbose': False},
  {'min_support': 1, 'name': 'msd', 'user_based': True, 'verbose': False},
  {'min_support': 5, 'name': 'msd', 'user_based': False, 'verbose': False},
  {'min_support': 5, 'name': 'msd', 'user_based': True, 'verbose': False},
  {'min_support': 20, 'name': 'msd', 'user_based': False, 'verbose': False},
  {'min_support': 20, 'name': 'msd', 'user_based': True, 'verbose': False},
  {'min_support': 1, 'name': 'cosine', 'user_based': False, 'verbose': False},
  {'min_support': 1, 'name': 'cosine', 'user_based': True, 'verbose': False},
  {'min_support': 5, 'name': 'cosine', 'user_based': False, 'verbose': False},
  {'min_support': 5, 'name': 'cosine', 'user_based': True, 'verbose': False},
  {'min_support': 20, 'name': 'cosine', 'user_based': False, 'verbose': False},
  {'min_support': 20, 'name': 'cosine', 'user_based': True, 'verbose': False},
  {'min_support': 1, 'name': 'msd', 'user_based': False, 'verbose': False},
  {'min_support': 1, 'name': 'msd', 'user_based': True, 'verbose': False},
  {'min_support': 5, 'name': 'msd', 'user_based': False, 'verbose': False},
  {'min_support': 5, 'name': 'msd', 'user_based': True, 'verbose': False},
  {'min_support': 20, 'name': 'msd', 'user_based': False, 'verbose': False},
  {'min_support': 20, 'name': 'msd', 'user_based': True, 'verbose': False},
  {'min_support': 1, 'name': 'cosine', 'user_based': False, 'verbose': False},
  {'min_support': 1, 'name': 'cosine', 'user_based': True, 'verbose': False},
  {'min_support': 5, 'name': 'cosine', 'user_based': False, 'verbose': False},
  {'min_support': 5, 'name': 'cosine', 'user_based': True, 'verbose': False},
  {'min_support': 20, 'name': 'cosine', 'user_based': False, 'verbose': False},
  {'min_support': 20, 'name': 'cosine', 'user_based': True, 'verbose': False}],
 'params': [{'k': 2,
   'sim_options': {'min_support': 1,
    'name': 'msd',
    'user_based': False,
    'verbose': False}},
  {'k': 2,
   'sim_options': {'min_support': 1,
    'name': 'msd',
    'user_based': True,
    'verbose': False}},
  {'k': 2,
   'sim_options': {'min_support': 5,
    'name': 'msd',
    'user_based': False,
    'verbose': False}},
  {'k': 2,
   'sim_options': {'min_support': 5,
    'name': 'msd',
    'user_based': True,
    'verbose': False}},
  {'k': 2,
   'sim_options': {'min_support': 20,
    'name': 'msd',
    'user_based': False,
    'verbose': False}},
  {'k': 2,
   'sim_options': {'min_support': 20,
    'name': 'msd',
    'user_based': True,
    'verbose': False}},
  {'k': 2,
   'sim_options': {'min_support': 1,
    'name': 'cosine',
    'user_based': False,
    'verbose': False}},
  {'k': 2,
   'sim_options': {'min_support': 1,
    'name': 'cosine',
    'user_based': True,
    'verbose': False}},
  {'k': 2,
   'sim_options': {'min_support': 5,
    'name': 'cosine',
    'user_based': False,
    'verbose': False}},
  {'k': 2,
   'sim_options': {'min_support': 5,
    'name': 'cosine',
    'user_based': True,
    'verbose': False}},
  {'k': 2,
   'sim_options': {'min_support': 20,
    'name': 'cosine',
    'user_based': False,
    'verbose': False}},
  {'k': 2,
   'sim_options': {'min_support': 20,
    'name': 'cosine',
    'user_based': True,
    'verbose': False}},
  {'k': 10,
   'sim_options': {'min_support': 1,
    'name': 'msd',
    'user_based': False,
    'verbose': False}},
  {'k': 10,
   'sim_options': {'min_support': 1,
    'name': 'msd',
    'user_based': True,
    'verbose': False}},
  {'k': 10,
   'sim_options': {'min_support': 5,
    'name': 'msd',
    'user_based': False,
    'verbose': False}},
  {'k': 10,
   'sim_options': {'min_support': 5,
    'name': 'msd',
    'user_based': True,
    'verbose': False}},
  {'k': 10,
   'sim_options': {'min_support': 20,
    'name': 'msd',
    'user_based': False,
    'verbose': False}},
  {'k': 10,
   'sim_options': {'min_support': 20,
    'name': 'msd',
    'user_based': True,
    'verbose': False}},
  {'k': 10,
   'sim_options': {'min_support': 1,
    'name': 'cosine',
    'user_based': False,
    'verbose': False}},
  {'k': 10,
   'sim_options': {'min_support': 1,
    'name': 'cosine',
    'user_based': True,
    'verbose': False}},
  {'k': 10,
   'sim_options': {'min_support': 5,
    'name': 'cosine',
    'user_based': False,
    'verbose': False}},
  {'k': 10,
   'sim_options': {'min_support': 5,
    'name': 'cosine',
    'user_based': True,
    'verbose': False}},
  {'k': 10,
   'sim_options': {'min_support': 20,
    'name': 'cosine',
    'user_based': False,
    'verbose': False}},
  {'k': 10,
   'sim_options': {'min_support': 20,
    'name': 'cosine',
    'user_based': True,
    'verbose': False}},
  {'k': 20,
   'sim_options': {'min_support': 1,
    'name': 'msd',
    'user_based': False,
    'verbose': False}},
  {'k': 20,
   'sim_options': {'min_support': 1,
    'name': 'msd',
    'user_based': True,
    'verbose': False}},
  {'k': 20,
   'sim_options': {'min_support': 5,
    'name': 'msd',
    'user_based': False,
    'verbose': False}},
  {'k': 20,
   'sim_options': {'min_support': 5,
    'name': 'msd',
    'user_based': True,
    'verbose': False}},
  {'k': 20,
   'sim_options': {'min_support': 20,
    'name': 'msd',
    'user_based': False,
    'verbose': False}},
  {'k': 20,
   'sim_options': {'min_support': 20,
    'name': 'msd',
    'user_based': True,
    'verbose': False}},
  {'k': 20,
   'sim_options': {'min_support': 1,
    'name': 'cosine',
    'user_based': False,
    'verbose': False}},
  {'k': 20,
   'sim_options': {'min_support': 1,
    'name': 'cosine',
    'user_based': True,
    'verbose': False}},
  {'k': 20,
   'sim_options': {'min_support': 5,
    'name': 'cosine',
    'user_based': False,
    'verbose': False}},
  {'k': 20,
   'sim_options': {'min_support': 5,
    'name': 'cosine',
    'user_based': True,
    'verbose': False}},
  {'k': 20,
   'sim_options': {'min_support': 20,
    'name': 'cosine',
    'user_based': False,
    'verbose': False}},
  {'k': 20,
   'sim_options': {'min_support': 20,
    'name': 'cosine',
    'user_based': True,
    'verbose': False}}],
 'rank_test_mae': array([35, 29, 27, 25, 26, 24, 36, 34, 33, 32, 31, 30, 11,  7,  6,  4, 14,
         8, 28, 17, 19, 13, 23, 20,  5,  2,  3,  1, 16,  9, 21, 12, 15, 10,
        22, 18], dtype=int64),
 'rank_test_rmse': array([35, 29, 28, 26, 27, 24, 36, 33, 34, 31, 32, 30, 11,  6,  7,  3, 17,
         9, 25, 14, 21, 13, 23, 20,  4,  2,  5,  1, 18,  8, 19, 12, 15, 10,
        22, 16], dtype=int64),
 'split0_test_mae': array([0.95756634, 0.89165081, 0.88081051, 0.8651292 , 0.86879371,
        0.86081298, 1.05540363, 0.94487006, 0.94198599, 0.91658605,
        0.9114651 , 0.8996024 , 0.80826171, 0.78897991, 0.78663153,
        0.78149241, 0.81947448, 0.8068922 , 0.88468302, 0.82956782,
        0.83490811, 0.8185621 , 0.85545354, 0.8402083 , 0.78637728,
        0.77899498, 0.78016529, 0.77601249, 0.82333851, 0.80802442,
        0.84371331, 0.81437407, 0.82183042, 0.80757712, 0.85190701,
        0.83586717]),
 'split0_test_rmse': array([1.24080363, 1.15732603, 1.15097005, 1.12489548, 1.13676224,
        1.1095655 , 1.35452207, 1.21883574, 1.22455989, 1.18367681,
        1.18845675, 1.15907298, 1.02337498, 1.00097333, 1.00378573,
        0.9928653 , 1.05220203, 1.02269035, 1.11360992, 1.0505884 ,
        1.06322255, 1.03998455, 1.09731497, 1.06460776, 0.99400925,
        0.98714058, 0.99466274, 0.9840038 , 1.05479162, 1.02218933,
        1.06123488, 1.03046574, 1.04734339, 1.02420917, 1.0902219 ,
        1.05562913]),
 'split1_test_mae': array([0.95726086, 0.89339412, 0.88248833, 0.87208302, 0.87217733,
        0.86501416, 1.06836425, 0.94978838, 0.94084148, 0.91564553,
        0.91662527, 0.90920507, 0.81296732, 0.79318128, 0.79140508,
        0.7850514 , 0.82462282, 0.80895269, 0.88504587, 0.83139173,
        0.83782538, 0.82140872, 0.85691408, 0.84127172, 0.79080181,
        0.78260081, 0.7864451 , 0.77866491, 0.82719898, 0.8083775 ,
        0.84638701, 0.81491452, 0.82837591, 0.81024992, 0.85398298,
        0.8344313 ]),
 'split1_test_rmse': array([1.24166759, 1.15437517, 1.15201724, 1.12968209, 1.14232063,
        1.11296576, 1.36658008, 1.22079271, 1.22121948, 1.18322855,
        1.19742042, 1.16881457, 1.02486443, 1.00426375, 1.00581621,
        0.99691224, 1.05876279, 1.02603087, 1.11345868, 1.04992278,
        1.06492732, 1.04125407, 1.09896066, 1.06575889, 0.99569043,
        0.99034346, 0.99881333, 0.98705853, 1.0600214 , 1.02441844,
        1.06362852, 1.03016217, 1.05245137, 1.02655166, 1.09340844,
        1.05629901]),
 'split2_test_mae': array([0.9480037 , 0.8860326 , 0.87596232, 0.86306299, 0.87236591,
        0.85343571, 1.05716445, 0.94333802, 0.94080086, 0.91284921,
        0.9167659 , 0.89675294, 0.80982884, 0.78485882, 0.78477898,
        0.77815112, 0.82043016, 0.7988582 , 0.87964902, 0.82640248,
        0.83201191, 0.81671541, 0.85318593, 0.83508875, 0.78468858,
        0.77475952, 0.77777434, 0.77141916, 0.82132791, 0.80005177,
        0.84004141, 0.80929586, 0.81983992, 0.80433938, 0.84855671,
        0.82851321]),
 'split2_test_rmse': array([1.2270978 , 1.14665402, 1.14633509, 1.11885011, 1.14206483,
        1.09783581, 1.34798243, 1.21427698, 1.22052327, 1.17901309,
        1.19431548, 1.15349332, 1.02365538, 0.99714242, 1.00217816,
        0.98943845, 1.05522578, 1.011656  , 1.10578153, 1.04565051,
        1.06070186, 1.03676268, 1.09613956, 1.05517612, 0.99308174,
        0.98339501, 0.993513  , 0.98020047, 1.05557302, 1.01160021,
        1.05783009, 1.02462974, 1.04682397, 1.02053951, 1.08860002,
        1.04590791]),
 'std_fit_time': array([0.03727661, 0.0075692 , 0.05093573, 0.06283308, 0.03790003,
        0.01541205, 0.04610099, 0.05002555, 0.03774127, 0.20065241,
        0.06146327, 0.05166797, 0.06202458, 0.04975167, 0.04778694,
        0.00393849, 0.01728404, 0.05470989, 0.10701161, 0.0246003 ,
        0.18831482, 0.20613238, 0.01434316, 0.10785883, 0.09185674,
        0.03396525, 0.07915508, 0.03570207, 0.05680083, 0.01568749,
        0.06218371, 0.01982026, 0.015294  , 0.02859593, 0.06085147,
        0.01209289]),
 'std_test_mae': array([0.00443762, 0.00314104, 0.00276704, 0.0038584 , 0.00164131,
        0.0047858 , 0.00573986, 0.00275165, 0.00054935, 0.00158703,
        0.00246634, 0.00532694, 0.00195643, 0.00339768, 0.00279133,
        0.0028175 , 0.002236  , 0.00435494, 0.00246303, 0.00206125,
        0.00237334, 0.00193048, 0.00153385, 0.00269917, 0.00257767,
        0.00320463, 0.00365657, 0.00299323, 0.00243619, 0.00384427,
        0.00260124, 0.00253091, 0.00364644, 0.00241664, 0.00223554,
        0.0031827 ]),
 'std_test_rmse': array([0.00667396, 0.00449958, 0.00246906, 0.00443208, 0.00256209,
        0.00648128, 0.00770307, 0.00272981, 0.00176186, 0.00210083,
        0.00371652, 0.00633133, 0.00064626, 0.00291006, 0.00148857,
        0.00305466, 0.00268115, 0.00614232, 0.00365521, 0.0021878 ,
        0.00173572, 0.00189047, 0.00115703, 0.00474079, 0.00107971,
        0.00283958, 0.00227652, 0.00280534, 0.00230336, 0.00559172,
        0.00237917, 0.00268243, 0.00253922, 0.0024743 , 0.00199737,
        0.0047484 ]),
 'std_test_time': array([0.05814223, 0.05711907, 0.24749174, 0.29323663, 0.16625749,
        0.18301017, 0.49026185, 0.60238272, 0.45411187, 0.50509281,
        0.07633396, 0.04050432, 0.41431084, 0.39630692, 0.06694819,
        0.09586914, 0.29331981, 0.25082316, 0.04502592, 0.11018273,
        0.32432523, 0.25708943, 0.33518952, 0.12088444, 1.12925941,
        0.56749758, 0.55971927, 0.05372752, 0.41078044, 0.3590237 ,
        0.12101179, 0.04393759, 0.12150537, 0.04765662, 0.02012845,
        0.08484372])}

In [40]:
param_grid_knn = {'k': [2, 10, 20],
              'sim_options': {'name': ['msd', 'cosine'],
                              'min_support': [1, 5, 20],
                              'user_based': [True],
                              'verbose': [False]}
              }


gs_knn = GridSearchCV(KNNWithMeans, param_grid_knn, measures=['rmse', 'mae'], cv=3)
%time gs_knn.fit(data)
print(gs_knn.best_score['rmse'])
print(gs_knn.best_params['rmse'])

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Wall time: 3min 22s
0.9578123648420523
{'k': 20, 'sim_options': {'name': 'msd', 'min_support': 5, 'user_based': True, 'verbose': False}}